<footer class="py-8 bg-gray-100 text-sm" role="contentinfo">
    <div class="flex items-center justify-between container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a href="http://github.com/maxboeck/eleventastic">
            {% icon "github" %}Eleventastic
        </a>
    </div>
</footer>