<header class="py-8 block" role="banner">
    <div class="flex items-center justify-between container">
        <div>
            🎩 Eleventastic Tailwind
        </div>
        <div>
            {% include "navigation.njk" %}
        </div>
    </div>
</header>